<head>

</head>
<body>

  <header>
    <ul>
      <li><a href="#early-innovation">Early Innovation</a></li>
      <li><a href="#mature-innovation">Mature Innovation</a></li>
    </ul>
  </header>

  <main>
    <header>
      <h1>Innovation Projects</h1>
    </header>

    <p>Innovation is, by definition: </p>

    <blockquote>
      The proccess of translating an idea or invention
      into a product or service that creates value or for which customers will pay.
      <footer>
        - <a href="http://www.businessdictionary.com/definition/innovation.html" target="_blank">
          businessdictionary.com
        </a>
      </footer>
    </blockquote>

    <p>
      Considering this definition we, at Plyom, redesigned our services so that
      we can improve the help we offer to entrepreneurs and innovators into
      building innovative technological products.
    </p>

    <p>
      Our goal is to generate real innovation and, to do it, we need
      develop products that actually work on the real world, and that is a much
      bigger challenge than merely creating software products.
    </p>

    <h2 id="early-innovation">Early Innovation</h2>

    <h3>Why?</h3>

    <p>
      When we have a great innovative idea, we tend to believe in it so much that
      we cloud ourselves from the assumptions that we are uncounciously making and
      are crucial to achieve success on the market. In our minds our ideas are so
      shining that that any skepticism sounds like pessimism, and we, innovators
      and entrepreneurs, are otimists by nature, so we ignore it...
    </p>

    <p>
      This is the sin of the first trip into innovation: to believe a great product
      is all it takes.
    </p>

    <p>
      The product that customers value and will pay for it, do not lie in your mind
      but in theirs. Before you build a great product will need the be certain that
      you are building is the right thing to build.
    </p>

    <h3>What?</h3>

    <p>
      We came up with the Early Innovation service. In this model we will help find and
      explore the assumptions you are unconsiouly making and test them with real
      customers, getting us closer to the right thing to build.
    </p>

    <p>
      Our goal here is to help you test the product againist the market as fast
      and as cheap as possible while learning a lot. The idea is to decrease the risk
      of the innovation process and gather information to guide your business decisions.
    </p>

    <h3>How?</h3>

    <p>
      We help you by desigining experiments by sharing our experiences and skills
      to design and build MVP's (or RAT's) combined with actionable metrics.
    </p>

    <p>
      Our team is prepared to adapt to your innovative project information technology
      needs. We help you understand which data to collect in order to maximize
      market learning and building the minimum necessary to aquire this data.
    </p>

    <h3>Interested?</h3>

    <p>Send us an e-mail at earlyinnovation@plyom.com.br</p>

    <h2 id="mature-innovation">Mature Innovation</h2>

    <h3>Why?</h3>

    <p>
      After we tested our product againist the market, prove that we have a business
      and, maybe, already have our first customers, the next ones will become more and more
      demanding, craving for more features and better user experience. So we increase
      the team and relentlessly build everything...
    </p>

    <p>This is the sin of the long innovation trip: to build everything.</p>

    <p>
      The more customers you have, the more demanding they will be but most of
      the demands will add very few value to other customers or to your business.
      Besides, there is a implicit demand that you most definitelly does not want
      to become explicit: stability (or performance) and availability (or "no bugs").
      So we need to focus on "build the thing right".
    </p>

    <h3>What?</h3>

    <p>
      We designed the Mature Innovation service. In this model we will help you
      to build a performatic, maintainable and stable software product at a constant pace,
      while you order, specify (we also help you with that) and prioritize the next
      increments of the product.
    </p>

    <p>
      Our goal is to ensure quality and constant evolving of the product. We also
      intend to help organize and deliver as much value as possible to the end customer
      so the business can achieve sustainable growth.
    </p>

    <h3>How?</h3>

    <p>
      We help you by providing an experienced team with Agile training. The team
      will be responsible for developing, testing and deploying everything into
      your environments (focus groups, AB testing and so on...) according to your v
      alidation rules while developing proccesses following a Lean approach.
    </p>

    <p>
      Our team will make use of automatic testing, code reviewing, continous delivery
      tools and extensive communication to ensure quality and maintainability. The
      team is also prepared to work with your inside team and even train them.
    </p>

    <h3>Interested?</h3>

    <p>Send us an e-mail at matureinnovation@plyom.com.br</p>

    <footer>
      This content was inspired the ideas in the Lean Startup book by Eric Ries
      and our own past experiences.
    </footer>
  </main>

  <footer>
    <a href="http://plyom.com.br">Plyom</a>
  </footer>
</body>
