<head>
  <meta charset="utf-8">

  <title>Inovação Precoce</title>

  <!-- Bootstrap core CSS -->
  <link href="../assets/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../assets/css/main.css" rel="stylesheet">
  <link rel="stylesheet" href="../assets/css/font-awesome.min.css">

  <script src="../assets/js/modernizr.custom.js"></script>

  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,600,700' rel='stylesheet' type='text/css'>
</head>
<body>

  <div class="container">
    <header>
      <a href="../index.html">
        <img src="../assets/img/plyom_index.svg" alt="" style="width: 20%; margin: auto; display: block; margin-top: 20px;">
      </a>
    </header>
    <main>
      <header>
        <h1>Projetos Inovadores</h1>
      </header>

      <p>Inovação é, por definição: </p>

      <blockquote>
        O processo de traduzir uma ideia um invenção em um produto ou serviço
        que cria valor ou para o qual clientes pagarão.
        <footer>
          <a href="http://www.businessdictionary.com/definition/innovation.html" target="_blank">
            businessdictionary.com
          </a>
        </footer>
      </blockquote>

      <p>
        Considerando esta definição nós, na Plyom, redesenhamos nossos serviços
        de maneira com que consigamos melhorar a ajuda que oferecemos a empreendedores
        e inovadores em construir produtos tecnológicos inovadores.
      </p>

      <p>
        Nosso objetivo é gerar inovação real e, para isso, precisamos desenvolver
        produtos que funcionam de verdade no mundo real e isso é um desafio
        muito maior do que simplesmente criar produtos baseados em software.
      </p>

      <h2 id="early-innovation">Inovação Precoce</h2>

      <h3>A motivação</h3>

      <p>
        Quando temos uma grande ideia inovador, tendemos a acreditar nela tanto
        que nos cegamos das suposições que fazemos inconscientemente e são cruciais
        para alcançar o sucesso no mercado. Em nossas mentes nossas ideias são
        tão brilhantes que ceticismo soa como pessimismo e nós, inovadores e
        empreendedores, somos otimistas por natureza, então ignoramos...
      </p>

      <p>
        Este é o pecado da primeira viagem para a inovação: acreditar que um
        excelente produto é tudo que precisamos.
      </p>

      <p>
        O produto que os clientes valorizam e para o qual vão pagar, não está
        em nossas cabeças mas sim na deles. Antes de criar um grande produto
        temos que ter certeza que estamos construindo a coisa certa.
      </p>

      <h3>O objetivo</h3>

      <p>
        Nós criamos o serviço Inovação Precoce. Nesse modelo nós vamos te
        ajudar a encontrar e explocar as suposições que foram feitas inconscientemente
        e testá-las com clientes reais, deixando-nos mais próximos da coisa
        certa a se construir.
      </p>

      <p>
        Nosso objetivo aqui é ajudar a testar a ideia contra o mercado o mais
        rápido e barato possível enquanto aprende-se muito. A ideia é diminuir
        o risco do processo de inovação e coletar inforamação para guiá-lo
        durante suas decisões de negócio.
      </p>

      <h3>O serviço</h3>

      <p>
        Nós o ajudaremos a desenhar experimentos através do compartilhamento
        de experiências e habilidades em criar e construir MVP's (ou RAT's)
        combinados com métricas acionáveis.
      </p>

      <p>
        Nosso time é preparado para se adaptar às necessidades de TI do seu
        projeto. Nós o ajudaremos a entender quais datas devemlos coletar
        para maximizar o entendimento de mercado e construir o mínimo necessário
        para adquirir esses dados.
      </p>

      <h3>Interessado?</h3>

      <p>Envie-nos um e-mail para inovacaoprecoce@plyom.com.br</p>

      <h2><a href="services/mature-innovation.html">Leia sobre Inovação Madura</a></h2>
      <a href="../index.html">Voltar para o site principal</a>

      <footer style="margin: 30px 0 20px;">
        Este conteúdo foi inspirado nas ideias do livro A Startup Enxuta escrito
        por Eric Ries e nossas próprias experiências passadas na <a href="index.html">Plyom</a>.
      </footer>
    </main>
  </div>
</body>
