<head>
  <meta charset="utf-8">

  <title>Inovação Madura</title>

  <!-- Bootstrap core CSS -->
  <link href="../assets/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../assets/css/main.css" rel="stylesheet">
  <link rel="stylesheet" href="../assets/css/font-awesome.min.css">

  <script src="../assets/js/modernizr.custom.js"></script>

  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,600,700' rel='stylesheet' type='text/css'>
</head>
<body>

  <div class="container">
    <header>
      <header>
        <a href="../index.html">
          <img src="../assets/img/plyom_index.svg" alt="" style="width: 20%; margin: auto; display: block; margin-top: 20px;">
        </a>
      </header>
    </header>

    <main>
      <header>
        <h1>Projetos Inovadores</h1>
      </header>

      <p>Inovação é, por definição: </p>

      <blockquote>
        O processo de traduzir uma ideia um invenção em um produto ou serviço
        que cria valor ou para o qual clientes pagarão.
        <footer>
          <a href="http://www.businessdictionary.com/definition/innovation.html" target="_blank">
            businessdictionary.com
          </a>
        </footer>
      </blockquote>

      <p>
        Considerando esta definição nós, na Plyom, redesenhamos nossos serviços
        de maneira com que consigamos melhorar a ajuda que oferecemos a empreendedores
        e inovadores em construir produtos tecnológicos inovadores.
      </p>

      <p>
        Nosso objetivo é gerar inovação real e, para isso, precisamos desenvolver
        produtos que funcionam de verdade no mundo real e isso é um desafio
        muito maior do que simplesmente criar produtos baseados em software.
      </p>

      <h2 id="mature-innovation">Inovação Madura</h2>

      <h3>A motivação</h3>

      <p>
        Depois de testar nosso produto contra o mercado, provar que temos um negócio
        e, talvez, já termos nossos primeiros clientes, os clientes que virão serão
        cada vez mais exigentes, desejando mais funcionalidades e melhor usabilidade.
        Então nós aumentamos o time e implacavelmente construímos tudo...
      </p>

      <p>Este é o pecado da longa viagem à inovação: construir tudo.</p>

      <p>
        Quanto mais clientes nós temos, mais exigentes eles serão mas a maioria
        das demandas adicionarão muito pouco valor para outros clientes ou mesmo
        para o seu negócio. Além disso, existem as demandas implícitas que você
        definitivamente não vai querer que se tornem explícitas: estabilidade (ou
        performance) e disponibilidade (ou "sem bugs"). Então precisamos focar em
        construir a coisa certo.
      </p>

      <h3>O objetivo</h3>

      <p>
        Nós criamos o serviço Inovação Madura. Nesse modelo nós vamos ajudá-lo
        a construir um produto baseado em software software performático, sustentável
        e estável incrementado em períodos curtos e com ritmo constante, enquanto você
        ordena, especifica (também ajudaremos nisso) e prioriza os próximos incrementos
        do produto.
      </p>

      <p>
        Nosso objetivo é garantir a qualidade e evolução constante do produto. Também
        pretendemos ajudar a organizar e entregar o máximo de valor possível para
        o consumidor final para que o negócio consiga alcançar um crescimento sustentável.
      </p>

      <h3>O serviço</h3>

      <p>
        Nós o ajudaremos provendo um time experiente com treinamento em metodologias
        Ágeis. O time será responsável por desenvolver, testar e lançar tudo nos
        seus ambientes (grupos de foco, testes AB, e por aí vai) de acordo com
        as suas regras de validação enquanto desenvolvem processos seguindo uma
        abordagem enxuta.
      </p>

      <p>
        Nosso time fará uso de ferramentas de testes automaticos, revisão de código,
        entrega contínua e comunicação extensiva para garantir qualidade e sustentabilidade.
        O time também está preparado para trabalhar com um time interno seu e
        inclusive treiná-los.
      </p>

      <h3>Interessado?</h3>

      <p>Envie-nos um e-mail para inovacaomadura@plyom.com.br</p>

      <h2><a href="early-innovation.html">Leia sobre Inovacao Precoce</a></h2>
      <a href="../index.html">Voltar para o site principal</a>

      <footer style="margin: 30px 0 5px;">
        Este conteúdo foi inspirado nas ideias do livro A Startup Enxuta escrito
        por Eric Ries e nossas próprias experiências passadas na <a href="index.html">Plyom</a>.
      </footer>
    </main>
  </div>
</body>
